* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  height: calc(100vh - 20px);  /* amount for bottom scrollbar*/
  width: 100vw;
}

#main, #game-area {
  width: 100%;
  height: 100%;
  min-width: fit-content;
  min-height: fit-content;
}

#game-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

#our-area-bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.discard-size {
  border-radius: 8px;
  width: 8em;
  height: 12em;
  padding-top: 3px;
  padding-inline-start: 3px;  /* left */
  padding-inline-end: 3px;  /* right */
  margin-inline-start: 3px;  /* left */
  margin-inline-end: 6px;  /* right */
  text-align: center;
  flex-basis: 8em;
  flex-grow: 0;  /* We don't grow beyond our intended size */
}
#real-discard-section {
  background-color: #bbbbbb;
  flex-shrink: 1;
}
#fake-discard-section {
  visibility: hidden;
  /*Little hack to make it symmetrical (while ueing margin-start instead of 
    margin-left) so real one's left margin becomes this one's right margin*/
  direction: rtl;
  flex-shrink: 1e9;  /* We shrink the empty space first - if screen too small, symmetrical can go in the bin */
}
@media (width < calc(1200px + 8em + 50px)) {
  /* +50px is leway area for padding, etc. - result is the same anywhere in 
  the 'fake one is compressed area' so ensure we are definately in there */
  #fake-discard-section {
    /* Go all the way to the edge if we're being compressed. */
    margin: 0;
    padding: 0;
  }
}

#our-area {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: fit-content;
}

#our-placed-area {
  background-color: #dddddd;
  border-radius: 8px;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;

  flex: 0 1 1200px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;
  min-width: fit-content;
  align-items: stretch;
}

.our-placed-card-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 4px;
}

.our-placed-card {
  height: 6em;
  background-color: #aaaaaa;
  margin: 3px 0px;
  padding: 3px 6px;
  text-align: center;
  border-left: 1px solid black;
}
