* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
}
@media(width < 578px) {
  body {
    height: calc(100vh - 20px);  /*remove amount for bottom scrollbar*/
  }
}
